*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.section-heading{
    max-width: 870px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 10px;
}
.section-heading p {
    font-size: 16px;
    margin-bottom: 44px;
    color: #627382;   
}
.btn{
    background-color: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #ffff;
    cursor: pointer; 
}
.line-color{
    color: #30b868;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 16px 120px 16px 120px;
}
nav .logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
#banner {
    background: url(/assets/hero-bg.png);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#banner .banner-contanir {
    width: 60%;
    max-width: 1140px;
    margin: 0 8px;
    text-align: center;
}
#banner .banner-contanir .baton {
    display: inline-block; 
    background: white;
    color: #3f8f63;
    padding:  8px 12px 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

#banner .banner-contanir h1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffff;
    text-align: center;
    margin-bottom: 16px;
    }
#banner .banner-contanir p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff9d;
    text-align: center;
    margin-bottom: 32px;

}

#notes {
    padding-top: 90px;
}
#notes .notes-contanir{
    max-width: 1140px;
    margin: 0px auto;
}
#notes  .notes-contanir .notes-box{
    max-width: 1140px;
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    
}
.notes-box .notes-card{
    padding: 24px;
    box-shadow: 0 6px 50px 0 #42423e35;
    border-radius: 8px;
    text-align: center;
}
.notes-card img{
    padding: 4px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
}
.notes-card h4{
    font-size: 20px;
    margin: 16px 0 12px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-card p{
    font-size: 16px;
    line-height: 25px;
    color: #627382;
}
